<h1>Listing conferences</h1>

<% if logged_in? %>
<p><%= link_to 'New Conference', new_conference_path %></p>
<% end %>

<%= form_tag({}, {:method => :get, :class => :auto_focus_form}) do %>
  <table>
    <tr>
      <th>Categories</th>
      <th colspan="3">Location</th>
    </tr>
    </tr>
    <tr>
      <td>
        <%= check_box_tag('withsub', '1', @withsub) %> include subcategories
      </td>
      <td>
        <%= conference_location_select_tag(@location) %>
      </td>
    </tr>
    <tr>
      <td rowspan="2">
        <%= select_tag('category_ids[]',
                options_from_collection_for_select(Category.all, 'id', 'name',
                    @category_ids),
                :multiple => true, :size => 5) %>
      </td>
      <th>From/Until</th>
      <th colspan="2">Name/Description</th>
    </tr>
    <tr>
      <td>
        <%= text_field_tag(:start_at, @start_at, :size => 10,
            :class => :datepicker) %>
        <%= text_field_tag(:end_at, @end_at, :size => 10,
            :class => :datepicker) %>
      </td>
      <td>
        <%= text_field_tag(:q, @q, :size => 15) %>
      </td>
      <td>
        <%= submit_tag('Search') %>
      </td>
    </tr>
  </table>
<% end %>

<%= form_tag({}, {:method => :get, :class => :auto_focus_form}) do %>
  <table>
    <tr>
      <th>Extended Search Term</th>
    </tr>
    <tr>
      <td>
        <%= text_field_tag(:qq, @qq, :size => 60) %>
        <%= submit_tag('Extended Search') %>
      </td>
    </tr>
  </table>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th>Location</th>
    <th></th>
    <th></th>
  </tr>

<% @conferences.each do |conference| %>
  <tr>
    <td><%= link_to conference.name, conference %></td>
    <td><%= conference.startdate %></td>
    <td><%= conference.enddate %></td>
    <td><%= conference.location %></td>
    <% if logged_in? %>
      <% if conference.creator == @current_user or is_admin? %>
        <td><%= link_to 'Edit', edit_conference_path(conference) %></td>
      <% end %>
      <% if conference.creator == @current_user %>
        <td><%= link_to 'Destroy', conference, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>

<%= will_paginate @conferences %>
