<p id="notice"><%= notice %></p>

<% if @conference.serie %>
  <p>
    <b>Series:</b>
    <%= @conference.serie.name %>
  </p>
<% end %>

<p>
  <b>Name:</b>
  <%= @conference.name %>
</p>

<% if @conference.categories.any? %>
  <b>Categories:</b>
  <p>
    <% @conference.categories.each do |category| %>
      <%= category.name %>&nbsp;
    <% end %>
  </p>
<% end %>

<p>
  <b>Description:</b>
  <%= @conference.description %>
</p>

<p>
  <b>Startdate:</b>
  <%= @conference.startdate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @conference.enddate %>
</p>

<p>
  <b>Creator:</b>
  <%= @conference.creator.username %> (<%= @conference.creator.email %>)
</p>

<p>
  <b>Location:</b>
  <%= @conference.location %>
</p>

<p>
  <b>Gps:</b>
  <%= @conference.gps %>
</p>

<p>
  <b>Venue:</b>
  <%= @conference.venue %>
</p>

<p>
  <b>Accomodation:</b>
  <%= @conference.accomodation %>
</p>

<p>
  <b>Howtofind:</b>
  <%= @conference.howtofind %>
</p>

<% if @conference.participants.any? %>
  <p>
    <b>Participants:</b>
    <ul>
      <% @conference.participants.each do |participant| %>
        <li>
          <%= participant.username %>
          <% if @conference.creator == @current_user or @current_user.friends.include?(participant) or @current_user == participant %>
            <% if @current_user == participant %>
              (You)
            <% else %>
              (<%= participant.fullname %>, eMail: <%= participant.email %>)
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </p>
<% end %>

<% if @current_user.friends.any? %>
  <p>
    <b>Invite friends:</b>
    <ul>
      <% @current_user.friends.each do |friend| %>
        <li>
          <%= link_to "#{friend.fullname} (#{friend})", member_path(friend) %>
          <%= link_to "Invite", invite_conference_path(@conference, :friend_id => friend.id), :confirm => "Are you sure you wannt to invite this member?" %>
        </li>
      <% end %>
    </ul>
  </p>
<% end %>

<% if @calendars.any? %>
  <p>
    <b>In your calendars:</b>
    <% @calendars.reject { |c| not c.conferences.include?(@conference) }.each do |c| %>
      <%= link_to c.name, c %>
    <% end %>
    <% available_calendars = @calendars.reject { |c| c.conferences.include?(@conference) or c.category } %>
    <% if available_calendars.any? %>
      <%= form_tag add_to_calendar_conference_path(@conference), :method => :get do %>
        <%= submit_tag "Add to calendar" %>
        <%= select_tag :calendar_id, options_from_collection_for_select(available_calendars, :id, :name) %>
      <% end %>
    <% else %>
      <p>No free calendars available</p>
    <% end %>
  </p>
<% end %>

<p>
  <% if @conference.creator == @current_user or is_admin? %>
    <%= link_to 'Edit', edit_conference_path(@conference) %> |
  <% end %>

  <% if @conference.participants.include?(@current_user) %>
    <%= link_to 'Revoke', signout_conference_path(@conference), :confirm => "Are you sure you wannt to revoke?" %> |
  <% else %>
    <% unless @conference.creator == @current_user %>
      <%= link_to 'Sign up', signup_conference_path(@conference), :confirm =>  "Are you sure you wannt to sign up?" %> |
    <% end %>
  <% end %>

<%= link_to 'Download as iCalendar file',
  ical_conference_path(@conference, :format => :ics) %> |

  <%= link_to 'Back', conferences_path %>
</p>
