<p id="notice"><%= notice %></p>

<p>
  <b>Series:</b>
  <% if @conference.serie %>
    <%= @conference.serie.name %>
  <% end %>
</p>

<p>
  <b>Name:</b>
  <%= @conference.name %>
</p>

<% if @conference.categories.any? %>
  <b>Categories:</b>
  <p>
    <% @conference.categories.each do |category| %>
      <%= category.name %>&nbsp;
    <% end %>
  </p>
<% end %>

<p>
  <b>Description:</b>
  <%= @conference.description %>
</p>

<p>
  <b>Startdate:</b>
  <%= @conference.startdate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @conference.enddate %>
</p>

<p>
  <b>Creator:</b>
  <%= @conference.creator.username %> (<%= @conference.creator.email %>)
</p>

<p>
  <b>Location:</b>
  <%= @conference.location %>
</p>

<p>
  <b>Gps:</b>
  <%= @conference.gps %>
</p>

<p>
  <b>Venue:</b>
  <%= @conference.venue %>
</p>

<p>
  <b>Accomodation:</b>
  <%= @conference.accomodation %>
</p>

<p>
  <b>Howtofind:</b>
  <%= @conference.howtofind %>
</p>

<% if @conference.participants.any? %>
  <p>
    <b>Participants:</b>
    <ul>
      <% @conference.participants.each do |participant| %>
        <li>
          <%= participant.username %>
          <% if @conference.creator == @current_user or @current_user.friends.include?(participant) %>
            (<%= participant.fullname %>, eMail: <%= participant.email %>)
          <% end %>
        </li>
      <% end %>
    </ul>
  </p>
<% end %>

<% if @conference.creator == @current_user %>
  <%= link_to 'Edit', edit_conference_path(@conference) %> |
<% end %>

<% unless @conference.participants.include?(@current_user) %>
  <%= link_to 'Sign up', signup_conference_path(@conference) %> |
<% end %>

<%= link_to 'Back', conferences_path %>
