<h2>
<% if @calendar.category %>
Filter
<% else %>
Calendar
<% end %>
  <%= @calendar.name %>
  <% if @calendar.is_default? %>(default Calendar)<% end %>
</h2>

<% if @calendar.category %>
  <p>
    <b>Category:</b>
    <%= @calendar.category.name %>
  </p>
<% end %>

<% if @calendar.conferences.any? %>
  <p>
    <b>Conferences:</b>
    <ul>
      <% @calendar.conferences.each do |conference| %>
        <li>
          <b><%= link_to conference.name, conference %></b>
          <% unless @calendar.category %>
            <%= link_to "Remove from calendar", remove_from_calendar_conference_path(conference,
                    :calendar_id => @calendar.id), :confirm => "Are you sure?" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </p>
<% end %>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to_profile 'My profile' %>
