<li>
  <p>
    <b><%= link_to category.name,
      conferences_path(:category_ids => [category.id]) %></b>
    &nbsp; &nbsp;
    <% if is_admin? %>
      <%= link_to 'Edit', edit_category_path(category) %> |
      <%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %> |
    <% end %>
    <% if logged_in? %>
      <%= link_to 'Create Filter for default Calendar', create_calendar_category_path(category) %>
    <% end %>
    <% if category.children.any? %>
      <ul>
        <%= render :partial => "categories/category", :collection => category.children %>
      </ul>
    <% end %>
  </p>
</li>
