<p>
  <b>Name:</b>
  <%= @serie.name %>
</p>

<% if @serie.url %>
  <p>
    <b>Details-URL:</b>
    <%= @serie.url %>
  </p>
<% end %>

<p>
  <b>Description:</b>
  <%= @serie.description %>
</p>

<% if @serie.conferences.any? %>
  <p>
    <b>Conferences:</b>
    <ul>
      <% @serie.conferences.order(:startdate).each do |conference| %>
        <li>
          <b><%= link_to conference.name, conference %></b>
          <%= conference.startdate %> - <%= conference.enddate %>
        </li>
      <% end %>
    </ul>
  </p>
<% end %>

<% if is_admin? %>
  <%= link_to 'Edit', edit_serie_path(@calendar) %> |
  <%= link_to 'Back to Series list', series_path %>
<% end %>
