<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title><%= page_title %></title>

<%= stylesheet_link_tag 'yaml/core/base.css',
    'yaml/navigation/nav_shinybuttons.css',
    'screen/basemod.css',
    'screen/content.css',
    'yaml/print/print_003_draft.css',
    'patches/patch_ip_platforms.css',
    'screen/ip_platforms_custom.css',
    'yaml/core/iehacks.css',
    'jquery.ui.datepicker.css',
    :cache => true %>
<%= javascript_include_tag 'jquery',
    'jquery-ui-1.8.8.custom.min',
    'rails',
    'application',
    :cache => true %>
<%= csrf_meta_tag %>
</head>

<body class="hideboth">
<!-- skip link navigation -->
<ul id="skiplinks">
  <li><a class="skip" href="#nav">Skip to navigation (Press Enter).</a></li>
  <li><a class="skip" href="#col3">Skip to main content (Press Enter).</a></li>
</ul>

<div class="page_margins">
  <div class="page">
    <div id="header" role="banner">
      <div id="topnav" role="contentinfo">
        <span><%= login_logout_link %></span>
      </div>
      <%= link_to (image_tag 'iplogo.png', :class => :float_left,
          :width => 45, :height => 45), home_path %>
      <h1><%= page_title %></h1>
      <span>Supercool CaP System, <em>powered by Infopark</em></span>
    </div>
    <!-- begin: main navigation #nav -->
    <div id="nav"  role="navigation">
      <div class="hlist">
        <ul>
          <li><%= link_to 'Home', :home %></li>
          <li><%= link_to 'Conferences', conferences_path %></li>
          <li><%= link_to 'Conference Series', series_path %></li>
          <li><%= link_to 'Categories', categories_path %></li>
          <li><%= link_to 'Members', members_path %></li>
        </ul>
      </div>
    </div>
    <!-- end: main navigation -->
    <!-- begin: main content area #main -->
    <div id="main">
      <!-- begin: #col3 static column -->
      <div id="col3" role="main">
        <div id="col3_content" class="clearfix">
          <%= render(:partial => 'layouts/flash') %>
          <%= yield %>
        </div>
        <div id="ie_clearing">&nbsp;</div>
        <!-- End: IE Column Clearing -->
      </div>
      <!-- end: #col3 -->
    </div>
    <!-- end: #main -->
    <!-- begin: #footer -->
    <div id="footer" role="contentinfo">
      Copyright (c) 2011
      <%= link_to 'Infopark AG', 'http://www.infopark.de' %><br />
      Powered by Ruby on Rails,
      Layout based on <a href="http://www.yaml.de/">YAML</a>
    </div>
    <!-- end: #footer -->
  </div>
</div>
<!-- full skip link functionality in webkit browsers -->
<%= javascript_include_tag 'yaml/yaml-focusfix.js' %>
</body>
</html>
