<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title><%= page_title %></title>

<%= stylesheet_link_tag :all %>
<%= stylesheet_link_tag 'yaml/css/ip_platforms.css',
    'yaml/css/patches/patch_ip_platforms.css',
    'yaml/css/screen/ip_platforms_custom.css',
    :media => nil, :cache => true %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
</head>

<body class="hideboth">
<!-- skip link navigation -->
<ul id="skiplinks">
  <li><a class="skip" href="#nav">Skip to navigation (Press Enter).</a></li>
  <li><a class="skip" href="#col3">Skip to main content (Press Enter).</a></li>
</ul>

<div class="page_margins">
  <div class="page">
    <div id="header" role="banner">
      <div id="topnav" role="contentinfo">
        <span><%= login_logout_link %></span>
      </div>
      <%= image_tag 'iplogo.png', :class => :float_right,
          :width => 40, :height => 40 %>
      <h1><%= page_title %></h1>
      <span>Supercool CaP System, <em>powered by Infopark</em></span>
    </div>
    <!-- begin: main navigation #nav -->
    <div id="nav"  role="navigation">
      <div class="hlist">
        <ul>
          <li><%= link_to 'Home', :home %></li>
          <% if logged_in? %>
            <li><%= link_to 'My CaP', profile_path %></li>
          <% end %>
          <li><%= link_to 'Conferences', conferences_path %></li>
          <li><%= link_to 'Conference Series', series_path %></li>
          <li><%= link_to 'Categories', categories_path %></li>
          <li><%= link_to 'Calendars', calendars_path %></li>
          <li><%= link_to 'Users', members_path %></li>
        </ul>
      </div>
    </div>
    <!-- end: main navigation -->
    <!-- begin: main content area #main -->
    <div id="main">
      <!-- begin: #col3 static column -->
      <div id="col3" role="main">
        <div id="col3_content" class="clearfix">
          <%= render(:partial => 'layouts/flash') %>
          <%= yield %>
        </div>
        <div id="ie_clearing">&nbsp;</div>
        <!-- End: IE Column Clearing -->
      </div>
      <!-- end: #col3 -->
    </div>
    <!-- end: #main -->
    <!-- begin: #footer -->
    <div id="footer" role="contentinfo">
      Copyright (c) 2011 Infopark AG <br />
      Powered by Ruby on Rails,
      Layout based on <a href="http://www.yaml.de/">YAML</a>
    </div>
    <!-- end: #footer -->
  </div>
</div>
<!-- full skip link functionality in webkit browsers -->
<%= javascript_include_tag 'yaml/yaml-focusfix.js' %>
</body>
</html>
