<h1>Listing members</h1>

<% if is_admin? %>
  <p>
    <%= link_to 'New Member', new_member_path %>
  </p>
<% end %>

<div>
  <%= form_tag({}, {:method => :get, :class => :auto_focus_form}) do %>
    <%= member_state_select_tag(@state) %>
    <%= member_location_select_tag(@location) %>
    <%= text_field_tag(:q, @q, :size => 15) %>
    <%= submit_tag('Search') %>
  <% end %>
</div>

<table class="fullwidth">
  <tr>
    <th>Username</th>
    <th>Fullname</th>
    <th>Email</th>
    <th>Town</th>
    <th>Country</th>
    <% if logged_in? %>
      <th>Action</th>
    <% end %>
    <% if is_admin? %>
      <th>Admin</th>
    <% end %>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= link_to member.username, member %></td>
    <td><%= member.fullname if show_details?(member) %></td>
    <td><%= member.email if show_details?(member) %></td>
    <td><%= member.town %></td>
    <td><%= member.country %></td>
    <td style="white-space: nowrap;">
      <% if logged_in? && member != @current_user &&
        !is_friend?(member) && !is_pending_friend?(member)%>
        <%= link_to 'Friend request', add_rcd_path(member) %>
      <% end %>
    </td>
    <td style="white-space: nowrap;">

      <% if is_admin? %>
        <%= link_to 'Edit', edit_member_path(member) %>
        | <%= link_to 'Password', edit_password_path(member) %>
        | <%= link_to 'Delete', member,
          :confirm => 'Are you sure?', :method => :delete %>
        &nbsp;<%= link_to "Series", series_member_path(member) %>
        <% if member != @current_user %>
          &nbsp;
          <%= link_to (member.admin? ? 'Revoke Admin' : 'Make admin'),
                      toggle_admin_path(member), :confirm => 'Are you sure?' %>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
