<h1>Listing members</h1>

<div>
  <%= form_tag({}, {:method => :get, :class => :auto_focus_form}) do %>
    <%= member_state_select_tag(@state) %>
    <%= member_location_select_tag(@location) %>
    <%= text_field_tag(:q, @q, :size => 15) %>
    <%= submit_tag('Search') %>
  <% end %>
</div>

<table>
  <tr>
    <th>Username</th>
    <th>Fullname</th>
    <th>Email</th>
    <th>Town</th>
    <th>Country</th>
    <th>Admin</th>
    <th>Action</th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= link_to member.username, member %></td>
    <td><%= member.fullname %></td>
    <td><%= member.email %></td>
    <td><%= member.town %></td>
    <td><%= member.country %></td>
    <td><%= member.admin %></td>
    <td style="white-space: nowrap;">
      <% if is_admin? %>
        <%= link_to 'Edit', edit_member_path(member) %>
        <%= link_to 'Password', edit_password_path(member) %>
        <%= link_to 'Delete', member,
        :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
      <% if member != @current_user %>
        <%= link_to 'Friend request', add_friend_request_path(member) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
