<h1>Listing Series of <b><%= link_to @member.username, @member %></b> (<%= @member.fullname %>)</h1>

<p>
  <% if @member.series.any? %>
    <ul>
      <% @member.series.each do |serie| %>
        <li>
          <b><%= link_to serie.name, serie %></b>
          <%= link_to "Suspend", remove_serie_member_path(@member, :serie_id => serie.id) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    There are no Series this Member is the official Contact of.
  <% end %>
</p>

<% if @series.any? %>
  <p>
    <b>Make Member the official contact of a serie</b>
    <%= form_tag add_serie_member_path(@member), :method => :get do %>
      <%= select_tag :serie_id, options_from_collection_for_select(@series, :id, :name) %>
      <%= submit_tag "Assign" %>
    <% end %>
  </p>
<% end %>
