<h2>Member status page</h2>

<div class="box">
  <h3>About <%= @member.username %></h3>
  <% if @member.blank? %>
    ERROR: No user information available. Who are you?
  <% else %>
    <ul class="profile_list <% if show_details?(@member) %>float_left<% end %>">
      <li>Username: <%= @member.username %></li>
      <li>Town: <%= @member.town %></li>
      <li>Country: <%= @member.country %></li>

      <% if show_details?(@member) %>
        <li>Full Name: <%= @member.fullname %></li>
        <li>Email: <%= @member.email %></li>
      <% end %>
      <% if is_my_profile? %>
        <li><%= link_to 'Change password', edit_password_path(@member)%></li>
      <% end %>
    </ul>

    <div>
    <% if show_details?(@member) %>
      <iframe width="400" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.de/?z=9&amp;ll=<%= @member.lat %>,<%= @member.lng %>&amp;output=embed"></iframe>
    <% end %>
    </div>

  <% end %>
</div>

<% if is_my_profile? %>

<div class="subcolumns">
  <div class="c50l">
    <div class="subcl box">
      <h3>Your Notifications</h3>
      <% if @notifications.blank? %>
        You don't have any notifications
      <% else %>
        <ul>
          <% @notifications.each do |n| %>
            <li><%= l(n.created_at, :format => :long) %>:
                <%= raw(n.content) %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="c50r">
    <div class="subcr box">
      <h3>Your Friends</h3>
      <% if @friends.blank? %>
        You don't have any friends
      <% else %>
        <ul>
          <% @friends.each do |f| %>
            <li><%= link_to "#{f.fullname} (#{f})", member_path(f) %>
                <%= link_to 'Defriend', defriend_path(f) %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="subcolumns">
  <div class="c50l">
    <div class="subcl box">
      <h3>Friend Requests Sent</h3>
      <% if @friend_requests_sent.blank? %>
        No friend requests originated by you
      <% else %>
        <ul>
          <% @friend_requests_sent.each do |r| %>
            <li><%= link_to r.username, member_path(r) %> didn't yet reply
                <%= link_to 'Revoke', revoke_rcd_path(r) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="c50r">
    <div class="subcr box">
      <h3>Friend Requests Received</h3>
      <% if @friend_requests_received.blank? %>
        No open friend requests for you
      <% else %>
        <ul>
          <% @friend_requests_received.each do |r| %>
            <li><%= link_to(r.username, member_path(r)) %>
                wants to be your friend
                <%= link_to 'Accept', accept_rcd_path(r) %>
                <%= link_to 'Decline', decline_rcd_path(r) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="box">
  <h3>Your Calendars</h3>
  <p><%= link_to 'New Calendar', new_calendar_path %> |
  <%= link_to 'New Filter for default Calendar', categories_path %></p>
  <ul>
    <% @calendars.each do |calendar| %>
      <li>
      <b><%= calendar.category ? "Filter " : "Calendar " %><%= link_to calendar.name, calendar %></b>
        <% if calendar.is_default? %>
          (default) <%= link_to 'Edit', edit_calendar_path(calendar) %>
        <% else %>
          <%= link_to 'Edit', edit_calendar_path(calendar) %>
          | <%= link_to 'Destroy', calendar, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="box">
  <h3>Your Series</h3>
  <% if @series.present? %>
    <ul>
      <% @member.series.each do |serie| %>
        <li>
          <b><%= link_to serie.name, serie %></b>
        </li>
      <% end %>
    </ul>
  <% else %>
    You aren't the official contact in any Serie
  <% end %>
</div>

<% end %>

<% if is_my_profile? || is_admin? %>
<%= link_to 'Edit', edit_member_path(@member) %> |
<% end %>

<%= link_to 'Back to Members list', members_path %>
